@using PagedList.Mvc
@model PagedList.IPagedList<Peliculas.Models.Pelicula>

 <div class="pager1" data-otf-target="#lista">
   @Html.PagedListPager(Model, 
        pagina => Url.Action("IndexImagenes",
        new { pagina }),
        options: PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new AjaxOptions()
            {
                HttpMethod = "GET",
                UpdateTargetId = "lista"
            }))
 </div>

<ul id="album-list">
     @foreach (var pel in Model)
     {
           <li>
               <a href="@Url.Action("Details", new { id=pel.id})">
                      <img alt="@pel.Nombre" 
                         src="@Url.Content("~" + pel.ruta)" 
                        width="100px" height="100px"/>
                    <span>@pel.Nombre</span>
                 </a>

            </li>

     }

</ul>


