@using Peliculas.Extensiones
@model Peliculas.Models.Pelicula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<dl class="dl-horizontal">
    <legend>Pelicula</legend>

    <dt>
         @Html.DisplayNameFor(model => model.Nombre)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Nombre)
    </dd>

    <dt>
         @Html.DisplayNameFor(model => model.Fecha)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Fecha)
    </dd>

       <dt>
         @Html.DisplayNameFor(model => model.Categoria)
    </dt>
    <dd>
        @foreach (int i in @Enum.GetValues(typeof(Peliculas.Models.Genero)))
            {
                if (Model.Categoria != null)
                {
                    var currentItem = (int)Model.Categoria;
                    if ((currentItem & i) == i)
                    {
                        @Model.Categoria.GetDisplayName()
                        break;
                    }
                }
            }

    </dd>

       <dt>
         @Html.DisplayNameFor(model => model.Rate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Rate)
    </dd>

       <dt>
         @Html.DisplayNameFor(model => model.ruta)
    </dt>
    <dd>
           <img alt="@Model.Nombre" 
                 src="@Url.Content("~" + Model.ruta)" 
                width="100px" height="100px"/>
    </dd>

    <dt>
         @Html.DisplayNameFor(model => model.Descripcion)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Descripcion)
    </dd>
</dl>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
