@using Peliculas.Extensiones
@model Peliculas.Models.Pelicula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<dl class="dl-horizontal">
    <legend>Pelicula</legend>

    <dt>
         @Html.DisplayNameFor(model => model.Nombre)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Nombre)
    </dd>

    <dt>
         @Html.DisplayNameFor(model => model.Fecha)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Fecha)
    </dd>

       <dt>
         @Html.DisplayNameFor(model => model.Categoria)
    </dt>
    <dd>
        @foreach (int i in @Enum.GetValues(typeof(Peliculas.Models.Genero)))
            {
                if (Model.Categoria != null)
                {
                    var currentItem = (int)Model.Categoria;
                    if ((currentItem & i) == i)
                    {
                        @Model.Categoria.GetDisplayName()
                        break;
                    }
                }
            }

    </dd>

       <dt>
         @Html.DisplayNameFor(model => model.Rate)
    </dt>
    <dd>
        @Html.HiddenFor(model => model.Rate, new { id = "calificacion" })
           <div id="divRateValue">@Model.Rate</div>
                <br />
                @Html.Partial("_Rating", Model)
    </dd>

       <dt>
         @Html.DisplayNameFor(model => model.ruta)
    </dt>
    <dd>
           <img alt="@Model.Nombre" 
                 src="@Url.Content("~" + Model.ruta)" 
                width="100px" height="100px"/>
    </dd>

    <dt>
         @Html.DisplayNameFor(model => model.Descripcion)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Descripcion)
    </dd>
</dl>

@Html.Action("_ComentariosForMovie", "Comentario", 
        new { id = Model.id })

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {      

            var valorInicial = $("#calificacion").val();
            
            $("input[type=radio][value='" + valorInicial + "']").attr('checked', 'checked');

            //-------------------
            $(function () {

                $('.ratting-item').rating(function (vote, event) {
                    var anchor = $(event.currentTarget),
                        pid = anchor.closest(".ratting-item").data("pid"),
                        url = '@Url.Action("Calificar", "Pelicula")';
                    $("#calificacion").val(vote);
                    var newRate = vote;

                    //mensaje de espera
                    /* $('.ratting-item[data-pid=' + pid + ']')
                         .next()
                         .text("Actualizando Calificación...");
                         */

                    $.ajax({
                        url: url,
                        type: "GET",
                        data: { rate: vote, id: pid },
                        success: function (data) {

                            if (data.success) {
                                /* $('.ratting-item[data-pid=' + data.pid + ']')
                                     .next()
                                     .text("Listo! (película: " + data.pid + ")");
                                     */
                                $('#divRateValue').html(newRate);
                                toastr.success('Calificado correctamente');
                            }
                            else {
                                //mostrar error
                                $('.ratting-item[data-pid=' + data.pid + ']')
                                    .next()
                                    .text("ocurrió un error...");
                                toastr.error('Calificación no aplicada');
                            }
                        },
                        error: function (err) {
                            // the call thrown an error
                            $('.result').text(err);
                            toastr.error('Calificación no aplicada');
                        },
                        complete: function () {
                            //$(".loading").hide();
                        }
                    });
                });

            });



        });
    </script>
}
